body{
    background-image: url(images/background.jpg);
    background-size: cover;
}

nav{
    background-image: url(images/logo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}

.fixed-top{
    font-family: 'Bangers';
    font-size: large;
    ul{
        .list-group-item{
            background-color: yellow;
            border: 3px solid black;
            margin-left: 1px;
            &:hover{
                background-color: red;
            }
        }
    }
    .newPost{
        &:hover{
            filter: invert(100%);
            color: white;
        }
        p{
            left: 24px;
            top: 39px;
            color: black;
        }
    }
}

h5{
    font-family: 'Bebas Neue';
    text-shadow: 1px 1px 2px black; 
}

.myborder{
    border: 3px solid black;
}

.modal{
    background-image: url(images/boom.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom;
    font-family: 'Bangers';
    .modal-content{
        background-image: url(images/back3.png);
        background-size: cover;
        background-position: center;
    }
}
