.cherry{
    background-image: url(images/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

nav{
    background-image: url(images/logo.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}

.filter-bar{
    font-family: 'Bangers';
    ul{
        .list-group-item{
            transition: all 0.3s ease;
            background-color: yellow;
            border: 3px solid black;
            cursor:pointer;
            &:hover{
                background-color: red;
                color: white;

            }
        }
    }
    .newPost{
        transition: all 0.3s ease;
        &:hover{
            filter: invert(100%);
            color: white;
        }
        p{
            left: 25px;
            top: 41px;
            color: black;
        }
    }
}

h5{
    font-family: 'Bebas Neue';
    text-shadow: 1px 1px 2px black; 
}

.myborder{
    border: 3px solid black;
}

#nuevoPost{
        background-image: url(images/boom.png);
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: bottom;
        h5, label{
            font-family: 'Bangers';
        }
        .modal-content{
            background-image: url(images/back3.png);
            background-size: cover;
            background-position: center;
        }
        .form-control{
            &:focus {
                box-shadow: none;
            }
        }
}

.card{
    button{
        bottom: 0%;
        right: 0%;
    }
}

.carousel-inner{
    height: 30vh;
}




/*
.card{
    .post-img{
        width:100%;
        background-size:cover;
        background-position: center;
        &:after{
            content:"";
            padding-top:100%;
            display: block;
        }
    }
}

.filter-list{
    li{
        transition:all .5s ease;
        cursor:pointer;
        &:hover{
            
            background-color:#333;
            color:white;
        }
    }
}

#detailModal{
    .detail-cover{
        width:100%;
        background-size:cover;
        background-position:center;
        background-image:url("https://picsum.photos/id/237/1000/800");
        &:after{
            content:"";
            padding-top:50%;
            display:block;
        }
    }
}
*/